%ul.project-navigation.nav.nav-sidebar
  = nav_link do
    = link_to project_path(@project), title: 'Back to project', data: {placement: 'right'} do
      = icon('caret-square-o-left fw')
      %span
        Back to project

  %li.separate-item

  %ul.project-settings-nav.sidebar-subnav
    = nav_link(path: 'projects#edit') do
      = link_to edit_project_path(@project), title: 'Project', class: 'stat-tab tab', data: {placement: 'right'} do
        = icon('pencil-square-o')
        %span
          Project
    = nav_link(controller: [:project_members, :teams]) do
      = link_to namespace_project_project_members_path(@project.namespace, @project), title: 'Members', class: 'team-tab tab', data: {placement: 'right'} do
        = icon('users')
        %span
          Members
    = nav_link(controller: :group_links) do
      = link_to namespace_project_group_links_path(@project.namespace, @project) do
        %i.fa.fa-share-square-o
        %span
          Groups
    = nav_link(controller: :deploy_keys) do
      = link_to namespace_project_deploy_keys_path(@project.namespace, @project), title: 'Deploy Keys', data: {placement: 'right'} do
        = icon('key')
        %span
          Deploy Keys
    = nav_link(controller: :hooks) do
      = link_to namespace_project_hooks_path(@project.namespace, @project), title: 'Web Hooks', data: {placement: 'right'} do
        = icon('link')
        %span
          Web Hooks
    = nav_link(controller: :git_hooks) do
      = link_to namespace_project_git_hooks_path(@project.namespace, @project) do
        %i.fa.fa-git-square
        %span
          Git Hooks
    = nav_link(controller: :services) do
      = link_to namespace_project_services_path(@project.namespace, @project), title: 'Services', data: {placement: 'right'} do
        = icon('cogs')
        %span
          Services
    = nav_link(controller: :protected_branches) do
      = link_to namespace_project_protected_branches_path(@project.namespace, @project), title: 'Protected Branches', data: {placement: 'right'} do
        = icon('lock')
        %span
          Protected branches
    = nav_link(controller: :audit_events) do
      = link_to namespace_project_audit_events_path(@project.namespace, @project) do
        %i.fa.fa-file-text-o
        %span
          Audit Events
