%tr
  %td
    = link_to path_to_key(key, is_admin) do
      %strong= key.title
  %td
    %span
      (#{key.fingerprint})
  %td
    %span.cgray
      added #{time_ago_with_tooltip(key.created_at)}
  %td
    - unless key.is_a? LDAPKey
      = link_to 'Remove', path_to_key(key, is_admin), data: { confirm: 'Are you sure?'}, method: :delete, class: "btn btn-sm btn-remove delete-key pull-right"
