= form_for @appearance, url: admin_appearances_path, html: { class: 'form-horizontal'} do |f|
  - if @appearance.errors.any?
    .alert.alert-danger
      - @appearance.errors.full_messages.each do |msg|
        %p= msg

  %fieldset.sign-in
    %legend
      Sign in/Sign up pages:
  .form-group
    = f.label :title, class: 'control-label'
    .col-sm-10
      = f.text_field :title, class: "form-control"
  .form-group
    = f.label :description, class: 'control-label'
    .col-sm-10
      = f.text_area :description, class: "form-control", rows: 10
      .hint
        Description parsed with #{link_to "GitLab Flavored Markdown", help_page_path('markdown', 'markdown'), target: '_blank'}.
  .form-group
    = f.label :logo, class: 'control-label'
    .col-sm-10
      - if @appearance.logo?
        = image_tag @appearance.logo, class: 'appearance-logo-preview'
        %br
        = link_to 'Remove logo', logo_admin_appearances_path, data: { confirm: "Logo will be removed. Are you sure?"}, method: :delete, class: "btn btn-remove btn-small remove-logo"
        %hr
      = f.file_field :logo, class: ""
      .hint
        Maximum logo size is 1MB, page optimized for logo size 640x360px

  %fieldset.app_logo
    %legend
      Navigation bar:
  .form-group
    = f.label :light_logo, 'Header logo', class: 'control-label'
    .col-sm-10
      - if @appearance.light_logo?
        = image_tag @appearance.light_logo, class: 'appearance-light-logo-preview'
      = f.file_field :light_logo, class: ""
      .hint
        Maximum size is 1MB, page optimized for logo size 72x72px
      -if @appearance.light_logo?
        %br
          = link_to 'Remove header logo', header_logos_admin_appearances_path, data: { confirm: "Header logos will be removed. Are you sure?"}, method: :delete, class: "btn btn-remove btn-small remove-logo"


  .form-actions
    = f.submit 'Save', class: 'btn btn-save'
    - if @appearance.persisted?
      = link_to 'Preview last save', preview_admin_appearances_path, class: 'btn', target: '_blank'

    - if @appearance.updated_at
      %span.pull-right
        Last edit #{time_ago_with_tooltip(@appearance.updated_at)}
